[*.cs]

# IDE0078: Musterabgleich verwenden
csharp_style_prefer_pattern_matching = true:silent

# IDE0046: In bedingten Ausdruck konvertieren
dotnet_diagnostic.IDE0046.severity = silent



[CsvRecord.cs]

# IDE0022: Ausdruckskörper für Methoden verwenden
csharp_style_expression_bodied_methods = when_on_single_line:silent

[InvalidCsvException.cs]

# IDE0079: Unnötige Unterdrückung entfernen
dotnet_diagnostic.IDE0079.severity = none
