# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\fkinz\source\repos\FolkerKinzel.CsvTools\FolkerKinzel.CsvTools.Tests\ codebase based on best match to current usage at 31.12.2020
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]



# CA1303: Literale nicht als lokalisierte Parameter übergeben
dotnet_diagnostic.CA1303.severity = none

# CA2201: Keine reservierten Ausnahmetypen auslösen
dotnet_diagnostic.CA2201.severity = none

# CA2300: Nicht den unsicheren BinaryFormatter zur Deserialisierung verwenden
dotnet_diagnostic.CA2300.severity = none
dotnet_diagnostic.CA2301.severity = none


# SYSLIB0011: Typ oder Element ist veraltet
dotnet_diagnostic.SYSLIB0011.severity = none

# CA1707: Bezeichner dürfen keine Unterstriche enthalten
dotnet_diagnostic.CA1707.severity = none

# CA1825: Arrayzuordnungen mit einer Länge von null vermeiden
dotnet_diagnostic.CA1825.severity = none

